language: node_js
node_js:
- node
- '6'
- '4'
- iojs
- '0.12'
- '0.10'
sudo: false
before_script:
- npm install -g codeclimate-test-reporter
after_script:
- codeclimate-test-reporter < coverage/lcov.info
addons:
  code_climate:
    repo_token: aba1eeeae63a3feaa29b3442fc5c735f6b38b15f986e802c406653fb19780be6
notifications:
  email: false
  slack:
    rooms:
      secure: Vcvki26d97aN87h4QiJTIfujEFAsmHK59nYQm3dnCuo6dH/GU+8IbrF3yoyfL+l3QUL1HEEbSi9Gx84kAU+pV1NW6vV4k6whZkG0qGapMBvHEaMxz+93/6hrca4h2iNIYM/07zWQi0f6Ajiuv7cHTfWqUArVV0Tyzb6Y9iHIi7HM1hS9PAlFt6m2lN9YN8/hi9eV64lHUm4+LGZ00Bi4H2eAC8662UMg637vGgipWNBWRtpYAyYzD7Zio+6hSo5gkorN7XZ9Q7x90awzPALGSNpvIggeVDAi/VMJQuUwA2lbnRIgqnmlhLAXtFU53XwzmV5E/jfEbFVY4hadxxdU4USViFdAVoXRQUurcyT9ziCB9RlEL/jBxAkYGJqBV4vS+z1AlMKxCo0pCjcImiKFXcFjnirHm8lL2iXPUqEEmrdDMXuzYbD7+apu4rF/9M93OkriBnn4cUApWc8C2/f5N2xv2Dl4mmKEagXxloGaQoT4GGNIi71/QVQBsR/eTD590wei1F3Il/EEk8zRhfEEgWHoIbv6uJeVQbePUZKKYF/KW7KMgv80/5yCkEBEWf0cjb+2VvgRJFOBn2MoncaXdTWWRu0VEtM2nRtRjmAZVrXW5b2euNk1puinSFzGiyxv6PfLegzt+eQk5EFKYMZRy8ndYFjlmgzfSgk+GONFD98=
